<div *ngIf="this.auth.isAuthenticated()" class="container">
  <!-- Messenger Head Opened -->
  <div id="ChatBox">
    <Button class="btn btn-primary btn-block chatTitle text-left" *ngIf="MessengerOpened" (click)="toggleMessenger()">
      <h2 style="margin:0"><span class="fa fa-envelope"></span> Meldinger ({{this.TotalMessages}})
      </h2>
      <h4 style="margin:0"> Aktive sessjoner ({{this.TotalContacts}})</h4>
    </Button>
    <!-- START: Messenger Loading -->
    <div class="text-center" *ngIf="MessengerOpened && !MessengerLoaded">
      <br>
      <i class="fas fa-spinner fa-pulse fa-3x"></i>
    </div>
    <!-- END: Messenger Loading -->
    <!-- START: Messenger Body (Contact List)  -->
    <div class="chat-sidebar p-1" *ngIf="MessengerOpened">
      <div #requestContact></div>
      <!-- START: Contact information - row -->
      <div class="row contact-item" *ngFor="let session of Contacts; let i=index"
        (click)="openChatWindow(i, session.firstname + ' ' + session.lastname, session.initiatorId, session.recieverId, session.requestId)">
        <!-- START: Contact information - PART: Picture + coluwn  -->
        <div class="col-md-3 col-sm-3 col-xs-3 text-center">
          <img width="40" height="40" class="img" src="https://fakeimg.pl/50/" />
        </div>
        <!-- END: Contact information - PART: Picture + coluwn -->
        <div class="col-md-9 col-sm-9 col-xs-9">
          <!-- START: Salesplan title/icon row -->
          <div class="row">
            <div class="col-md-12">
              <h4 [ngClass]="{ 'font-weight-bold': session.bold}" style="margin:0">
                <i class="fa" [ngClass]="{
                  'fa-clock-o text-warning':session.accepted === 2,
                  'fa-check text-success':session.accepted === 1,
                  'fa-times text-danger':session.accepted === 0

                }" aria-hidden="true"></i> {{session.title}}</h4>
            </div>
          </div>
          <!-- END: Salesplan title/icon row -->
          <!-- START: Contact name and unread messages - row -->
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <h4 style="margin:0">
                <i class="fa fa-user" aria-hidden="true"></i>
                {{session.firstname}} {{session.lastname}} ({{session.unread}})</h4>
            </div>
          </div>
          <!-- END: Contact name and unread messages - row -->
        </div>
        <hr>
      </div>
    </div>
    <!-- END: Messenger Body (Contact List)  -->
    <!-- START: Messenger Bottom -->
    <Button class="btn btn-primary btn-block chatTitle" *ngIf="!MessengerOpened" (click)="toggleMessenger()">
      <h2 style="margin:0; color:rgba(255, 255, 255, 0.973);"> <span class="fa fa-envelope"></span> Meldinger ({{this.TotalMessages}})</h2>
      <h4 style="margin:0">Aktive sessjoner ({{this.TotalContacts}})</h4> <span class="fa fa-setting"></span>
    </Button>
    <div *ngIf="MessengerOpened">
      <table class="messenger-controller">
        <tr>
          <td>
            <div class="chatItem fa fa-search p-2"></div>
          </td>
          <td>
            <input type="text" class="chatItem search-text" placeholder="Search">
          </td>
          <td>
            <div class="chatItem fa fa-envelope p-2"></div>
          </td>
          <td>
            <div class="chatItem fa fa-cog p-2"></div>
          </td>
        </tr>
      </table>
    </div>
    <!-- END: Messenger Bottom -->
  </div>

  <app-chat-window></app-chat-window>

</div>